.header,
.logoLink {
    display: flex;
}
.header {
    position: absolute;
    padding: 16px 24px 8px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.logo {
    width: auto;
    height: 24px;
}

@media (max-width: 640px) {
    .header {
        padding: 24px 16px 8px;
    }    
}
